@model List<MiniAccountApp.Models.ChartOfAccount>

<ul class="list-unstyled">
    @foreach (var account in Model)
    {
        <li>
            <div class="account-node">
                <strong>@account.AccountCode</strong> - @account.AccountName
            </div>

            @if (account.Children.Count > 0)
            {
                <partial name="_AccountTreePartial" model="account.Children" />
            }
        </li>
    }
</ul>
